@import "tailwindcss";

.side-menu {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
/* 크롬, 사파리 */
.side-menu::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
.side-menu {
  scrollbar-width: none;
}

button {
  cursor: pointer;
}